
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<form action="processForm" class="form-horizontal">
    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="fromText">Name :</label>
        <div class="col-md-4">
            <input id="fromText" name="N" type="text" placeholder="" class="form-control input-md">
            <span class="help-block">help</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="fromText">Reg No :</label>
        <div class="col-md-4">
            <input id="fromText" name="R" type="text" placeholder="" class="form-control input-md">
            <span class="help-block">help</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="fromText">Marks :</label>
        <div class="col-md-4">
            <input id="fromText" name="M" type="text" placeholder="" class="form-control input-md">
            <span class="help-block">help</span>
        </div>
    </div>

    <!-- Button -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
        <div class="col-md-4">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
        </div>
    </div>

</form>
