
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
First Number :<input id="Text1" type="text" /> <br/>
Second Number :<input id="Text2" type="text" /> <br/>
<a href="Addition/5/5" onclick="this.href = 'Addition/' + document.getElementById('Text1').value + '/' + document.getElementById('Text2').value">addition</a>
<br/>
<a href="Subtraction/5/5" onclick="this.href = 'Subtraction/' + document.getElementById('Text1').value + '/' + document.getElementById('Text2').value">Subtraction</a>
<br/>
<a href="Times/5/5" onclick="this.href = 'Times/' + document.getElementById('Text1').value + '/' + document.getElementById('Text2').value">Times</a>
<br/>
<a href="Division/5/5" onclick="this.href = 'Division/' + document.getElementById('Text1').value + '/' + document.getElementById('Text2').value">Division</a>

